<div class="center hero-unit">
	<h1>Knock4</h1>
	<h2>This is the homepage for Knock4</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("k4_logo.png", alt: "Knock4"), 'http://www.knock4.com' %>