<div class="col-md-9">
	<div id='calendar'>
		<script>
			$(document).ready(function() {

			    // page is now ready, initialize the calendar...

			    $('#calendar').fullCalendar({
			    	events: '/events.json',
			    	firstDay: 1,
			    	dayClick: function(date, allDay, jsEvent, view) {

				    jQuery.post(
				        "availability/new" 
				        , { 
				            knocker_id: current_knocker.id,
				            allDay: allDay
				        }
				    );
				}
			        // put your options and callbacks here
			    })

			});
		</script>
	</div>
</div>
