<% provide(:title, 'All knockers') %>
<h1>All Knockers</h1>

<%= paginate @knockers, :theme => 'twitter-bootstrap-3' %>
<ul class="knockers">
	<%= render @knockers %>
</ul>

<%= paginate @knockers, :theme => 'twitter-bootstrap-3' %>