<% provide(:title, @knocker.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= image_tag @knocker.avatar.url(:medium) %>
	 	<%= @knocker.name %>
      </h1>
    </section>
  </aside>
<%= @knocker.email %>