<footer class="footer">
  <small>
    <a href="http://www.knock4.com/">Copyright Knock4 Ltd, 2014</a>
  </small>
  <nav class="nav navbar-nav pull-right">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>