<nav class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "Knock4", root_path, class: "navbar-brand" %>
  </div>
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", "#" %></li>
      </ul>
    </div>
  </div>
</nav>