<footer class="footer">

  <nav class="nav navbar-nav pull-right">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
    <small>
    <a href="http://www.knock4.com/">Copyright Knock4 Ltd, 2014</a>
  </small>
</footer>